.relatedheading 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 11px;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 6px;
margin-bottom: 1px;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 4px;
padding-right: 4px;
border-color: #FFFFFF;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #FFFFFF;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.relateditem 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 4px;
padding-right: 4px;
border-color: #FFFFFF;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #FFFFFF;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.bodytext 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 6pt;
margin-bottom: 6pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.superscript 
{display: inline;
font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-size: 6pt;
color: inherit;
background-color: inherit;
vertical-align: super;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
}
.emphasis 
{display: inline;
font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: italic;
color: inherit;
background-color: inherit;
vertical-align: baseline;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
}
.heading1 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 16pt;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 6pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.heading2 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 14pt;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 12pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.heading3 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 12pt;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 12pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.heading4 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 10pt;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 12pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.heading5 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 10pt;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 12pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.heading6 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: italic;
font-variant: normal;
font-weight: bold;
font-size: 10pt;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 12pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.indexatoz 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 12px;
color: #0F0F0F;
background-color: #CFCFCF;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 12pt;
margin-bottom: 0pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 6pt;
padding-bottom: 6pt;
padding-left: 6pt;
padding-right: 6pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.indexheading 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 9pt;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 12pt;
padding-bottom: 6pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.index1 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 9pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0cm;
margin-bottom: 0cm;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 3pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0pt;
width: auto;
height: auto;
white-space: normal;
}
.index2 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 9pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0cm;
margin-bottom: 0cm;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0pt;
width: auto;
height: auto;
white-space: normal;
}
.index3 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 9pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0cm;
margin-bottom: 0cm;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0pt;
width: auto;
height: auto;
white-space: normal;
}
.indexlink 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: italic;
font-variant: normal;
font-weight: normal;
font-size: 9pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0cm;
margin-bottom: 0cm;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0pt;
width: auto;
height: auto;
white-space: normal;
}
.toc 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 9pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0cm;
margin-bottom: 0cm;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 6pt;
width: auto;
height: auto;
white-space: normal;
}

