.relatedheading 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 11px;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 6px;
margin-bottom: 1px;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 4px;
padding-right: 4px;
border-color: #FFFFFF;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #FFFFFF;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.relateditem 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 4px;
padding-right: 4px;
border-color: #FFFFFF;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #FFFFFF;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.bodytext 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 6pt;
margin-bottom: 6pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.superscript 
{display: inline;
font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-size: 6pt;
color: inherit;
background-color: inherit;
vertical-align: super;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
}
.prevnextbutton 
{font-family: "Arial", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 10pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0cm;
margin-bottom: 3pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.emphasis 
{display: inline;
font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: italic;
color: inherit;
background-color: inherit;
vertical-align: baseline;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
}
.note 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11px;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 6pt;
margin-bottom: 6pt;
margin-left: 0cm;
margin-right: 6pt;
padding-top: 4pt;
padding-bottom: 4pt;
padding-left: 4pt;
padding-right: 4pt;
border-color: #004080;
border-top-style: solid;
border-top-width: 0.3mm;
border-top-color: #004080;
border-bottom-style: solid;
border-bottom-width: 0.3mm;
border-bottom-color: #004080;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: 100%;
height: auto;
white-space: normal;
}
.strong 
{display: inline;
font-family: "Verdana", verdana, arial, helvetica, sans-serif;
color: #000000;
background-color: inherit;
vertical-align: baseline;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
}
ul.listbullet 
{list-style-type: Disc;
list-style-image: none;
list-style-position: outside;
margin-top: 3pt;
margin-bottom: 0pt;
}
li.listbullet 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 3pt;
margin-bottom: 0pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.listcontinue 
{display: block;
font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 6pt;
margin-bottom: 6pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.backtotop 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 6pt;
margin-bottom: 6pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.specialbold 
{display: inline;
font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-weight: bold;
color: #800040;
background-color: inherit;
vertical-align: baseline;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
}
.monospace 
{display: inline;
font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-size: 9pt;
color: inherit;
background-color: inherit;
vertical-align: baseline;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
}
.commandtext 
{font-family: "Courier New", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 9pt;
color: #000000;
background-color: #EFEFEF;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: 15px;
margin-top: 12pt;
margin-bottom: 12pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;
border-color: #7F7F7F;
border-top-style: solid;
border-top-width: thin;
border-top-color: #7F7F7F;
border-bottom-style: solid;
border-bottom-width: thin;
border-bottom-color: #7F7F7F;
border-left-style: solid;
border-left-width: thin;
border-left-color: #7F7F7F;
border-right-style: solid;
border-right-width: thin;
border-right-color: #7F7F7F;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: pre;
}
ul.listbullet2 
{list-style-type: Disc;
list-style-image: none;
list-style-position: outside;
margin-top: 3pt;
margin-bottom: 0pt;
}
li.listbullet2 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 3pt;
margin-bottom: 0pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
ol.listnumber 
{list-style-type: Decimal;
list-style-position: outside;
margin-top: 6pt;
margin-bottom: 0pt;
}
li.listnumber 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 6pt;
margin-bottom: 0pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.listcontinuecommandtext 
{font-family: "Courier New", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 9pt;
color: #000000;
background-color: #EFEFEF;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: 15px;
margin-top: 6pt;
margin-bottom: 6pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;
border-color: #7F7F7F;
border-top-style: solid;
border-top-width: thin;
border-top-color: #7F7F7F;
border-bottom-style: solid;
border-bottom-width: thin;
border-bottom-color: #7F7F7F;
border-left-style: solid;
border-left-width: thin;
border-left-color: #7F7F7F;
border-right-style: solid;
border-right-width: thin;
border-right-color: #7F7F7F;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: pre;
}
.listnote 
{display: block;
font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 6pt;
margin-bottom: 6pt;
margin-left: 0pt;
margin-right: 6pt;
padding-top: 4pt;
padding-bottom: 4pt;
padding-left: 4pt;
padding-right: 4pt;
border-color: #004080;
border-top-style: solid;
border-top-width: 0.3mm;
border-top-color: #004080;
border-bottom-style: solid;
border-bottom-width: 0.3mm;
border-bottom-color: #004080;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: 90%;
height: auto;
white-space: normal;
}
ol.listnumber2 
{list-style-type: Decimal;
list-style-position: outside;
margin-top: 6pt;
margin-bottom: 0pt;
}
li.listnumber2 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 6pt;
margin-bottom: 0pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.listcontinue2 
{display: block;
font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 6pt;
margin-bottom: 6pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.tableheading2 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 3pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.tablebodytext 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 3pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.tableheading3 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 3pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.tablecommandtext 
{font-family: "Courier New", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 9pt;
color: #000000;
background-color: #EFEFEF;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: 15px;
margin-top: 3pt;
margin-bottom: 3pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: pre;
}
.buttons 
{display: inline;
font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-weight: bold;
color: #000000;
background-color: inherit;
vertical-align: baseline;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
}
.indentcommandtext 
{font-family: "Courier New", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 9pt;
color: #000000;
background-color: #EFEFEF;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: 15px;
margin-top: 12pt;
margin-bottom: 12pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 5pt;
padding-bottom: 5pt;
padding-left: 5pt;
padding-right: 5pt;
border-color: #7F7F7F;
border-top-style: solid;
border-top-width: thin;
border-top-color: #7F7F7F;
border-bottom-style: solid;
border-bottom-width: thin;
border-bottom-color: #7F7F7F;
border-left-style: solid;
border-left-width: thin;
border-left-color: #7F7F7F;
border-right-style: solid;
border-right-width: thin;
border-right-color: #7F7F7F;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: pre;
}
.indent 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 11px;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: 15px;
margin-top: 6pt;
margin-bottom: 6pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 1.1cm;
width: auto;
height: auto;
white-space: normal;
}
.tableheading 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 12px;
color: #0F0F0F;
background-color: #DFDFDF;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0pt;
margin-bottom: 2pt;
margin-left: -2pt;
margin-right: -2pt;
padding-top: 6pt;
padding-bottom: 6pt;
padding-left: 6pt;
padding-right: 6pt;
border-color: #FFFFFF;
border-right-style: solid;
border-right-width: 1px;
border-right-color: #FFFFFF;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.heading1 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 16pt;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 6pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.heading2 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 14pt;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 12pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.heading3 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 12pt;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 12pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.heading4 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 10pt;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 12pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.heading5 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 10pt;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 12pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.heading6 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: italic;
font-variant: normal;
font-weight: bold;
font-size: 10pt;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 12pt;
margin-bottom: 3pt;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.indexatoz 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 12px;
color: #0F0F0F;
background-color: #CFCFCF;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 12pt;
margin-bottom: 0pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 6pt;
padding-bottom: 6pt;
padding-left: 6pt;
padding-right: 6pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.indexheading 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 9pt;
color: #0F0F0F;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
margin-right: 0pt;
padding-top: 12pt;
padding-bottom: 6pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0cm;
width: auto;
height: auto;
white-space: normal;
}
.index1 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: bold;
font-size: 9pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0cm;
margin-bottom: 0cm;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 3pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0pt;
width: auto;
height: auto;
white-space: normal;
}
.index2 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 9pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0cm;
margin-bottom: 0cm;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0pt;
width: auto;
height: auto;
white-space: normal;
}
.index3 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 9pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0cm;
margin-bottom: 0cm;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0pt;
width: auto;
height: auto;
white-space: normal;
}
.indexlink 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: italic;
font-variant: normal;
font-weight: normal;
font-size: 9pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0cm;
margin-bottom: 0cm;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 0pt;
width: auto;
height: auto;
white-space: normal;
}
.toc 
{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 9pt;
color: #000000;
background-color: inherit;
word-spacing: normal;
letter-spacing: normal;
vertical-align: baseline;
text-decoration: none;
text-transform: none;
line-height: normal;
margin-top: 0cm;
margin-bottom: 0cm;
margin-left: 0cm;
margin-right: 0cm;
padding-top: 0pt;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
float: none;
clear: none;
text-align: left;
text-indent: 6pt;
width: auto;
height: auto;
white-space: normal;
}

